<% provide(:title, '主页') %>
 
<% if logged_in? %>
<div class="reg-page"></div>
  <div class="home-box2">
      <div class="m-div clear">
  

          <%= link_to packageorders_path, class: "block block1 fl" do %>
              <img src="/assets/home-icon-block1.png" class="i">
              <div class="title1">销售部门</div>
              <div class="title2">供销售上传登记订单</div>
          <% end %>

  
          <%= link_to traintickets_path, class: "block block2 fl" do %>
              <img src="/assets/home-icon-block2.png" class="i">
              <div class="title1">票务部门</div>
              <div class="title2">登记线路上传记录</div>
          <% end %>

          <%= link_to finances_path, class: "block block3 fl" do %>
              <img src="/assets/home-icon-block3.png" class="i">
              <div class="title1">财务部门</div>
              <div class="title2">供会计统计账目明细</div>
           <% end %>
      </div>
  </div>

<% else %>
  <body class="navbar-trans full-height hero hero-home">
    
          <div id="loginbox">  
              <div class="control-group normal_text"> 
                  <h2 style="color: #787878;font-size:34px;">亿游信息管理系统</h2>
                  <span style="font-size:14px;color:gray;">版权所有 亿游在线 2015-2016</span>
              </div>          
                  <% flash.each do |key, value| %>
                      <div class="alert alert-<%= key %>"><%= value %></div>
                  <% end %>

              <%= form_for(:session, url: login_path, id: "loginform", class: "form-vertical" ) do |f| %>
                              <div class="control-group">
                                  <label class="control-label" style="color: #787878;">登陆账号</label>
                                  <div class="controls">
                                    <div class="main_input_box">
                                      <span class="add-on bg_lg">
                                        <i class="icon-user" style="font-size:16px;">
                                        </i>
                                      </span>
                                        <%= f.text_field :name, placeholder: "帐号", style: "background: transparent;" %>
                                    </div>
                                  </div>
                              <div>

                              <div class="control-group2">
                                <label class="control-label" style="color: #787878;">登陆密码</label>
                                <div class="controls">
                                    <div class="main_input_box">
                                    <span class="add-on bg_ly"><i class="icon-lock" style="font-size:16px;"></i></span>
                                      <%= f.password_field :password, placeholder: "密码", style: "background: transparent;" %>
                                 </div>
                              </div>
                             </div>
                                 <%= f.label :remember_me, class: "checkbox inline" do %>
                                   <%= f.check_box :remember_me %>
                                  <span style="color: #787878;">自动登录</span>
                                 <% end %>

                                 <span class="pull-right">
                                  <%= f.submit " 登        录", class: "btn btn-primary", style: "width:335px; background-color: #63B8FF;", id: "checkBtn" %>
                                 </span>
                              <div class="control-group normal_text">
                                <div style="font-size:14px;color:gray;">推荐使用webkit内核浏览器，如chrome等</div>
                              </div>
              <% end %>

          </div>
      

        
          
          <script src="/assets/jquery.min.js"></script>  
          <script src="/assets/matrix.login.js"></script> 

<% end %>