<% provide(:title, "火车票订单") %>

<p id="notice"><%= notice %></p>

<h1>火车票订单</h1>

<%= link_to '创建', new_ticketstate_path, class: "btn btn-primary"%>

<%= month_calendar events: @ticketstates do |date, ticketstates| %>
  <%= date %>

  <% ticketstates.each do |ticketstate| %>
    <div>
      <%= ticketstate.stateinfo %>
    </div>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>票务信息</th>
      <th>时间</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticketstates.each do |ticketstate| %>
      <tr>
        <td><%= ticketstate.stateinfo %></td>
        <td><%= ticketstate.start_time %></td>
        <td><%= link_to '显示', ticketstate %></td>
        <td><%= link_to '编辑', edit_ticketstate_path(ticketstate) %></td>
        <td><%= link_to '删除', ticketstate, method: :delete, data: { confirm: '确定?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


