<p id="notice"><%= notice %></p>

<p>
  <strong>票务情况:</strong>
  <%= @ticketstate.stateinfo %>
</p>

<p>
  <strong>时间:</strong>
  <%= @ticketstate.start_time %>
</p>

<%= link_to '编辑', edit_ticketstate_path(@ticketstate) %> |
<%= link_to '退出', ticketstates_path %>
