<% provide(:title, "创建用户") %>

<div id="content">
  <div id="content-header">
      <h1>创建用户</h1>
  </div>
  <div class="container-fluid">
      <div class="row-fluid">
            <div class="span6">
              <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>请依次输入具体信息</h5>
                </div>
                <div class="widget-content">
                   <%= form_for(@user) do |f| %>
                    <%= render 'shared/error_messages', object: f.object %>
                      <div class="control-group">
                            <%= f.label :name, "用户名" %>
                            <div class="controls">
                                <%= f.text_field :name, placeholder: "请输入用户名。。", class: "span8" %>
                            </div>
                        </div>

                        <div class="control-group">
                            <%= f.label :contact_info, "联系人信息（可选）" %>
                            <div class="controls">
                                <%= f.text_field :contact_info, placeholder: "联系人信息（）。。", class: "span8" %>
                            </div>
                        </div>

                        <div class="control-group">
                            <%= f.label :password, "密码" %>
                            <div class="controls">
                                <%= f.password_field :password,  class: "span8" %>
                            </div>
                        </div>

                        <div class="control-group">
                            <%= f.label :password_confirmation, "密码确认" %>
                            <div class="controls">
                                <%= f.password_field :password_confirmation, class: "span8" %>
                            </div>
                        </div>

                        <div class="control-group">
                            <%= f.submit "保存", data: { confirm: "确定？" }, class: "btn btn-large btn-primary" %>
                    <%= link_to "退出", packageorders_path, class: "btn btn-large btn-primary" %>
                        </div>                        

                  <% end %>
                </div>
              </div>
            </div>
      </div>
  </div>
</div>