<% provide(:title, "散客订单") %>

<div id="content">
  <div id="content-header">
      <h1>散客订单信息</h1>
  </div>
  <div class="container-fluid">
  	  <div class="row-fluid">
	  	  		<div class="span6">
	  	  			<div class="widget-box">
	  	  				<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          					<h5>请依次输入具体信息</h5>
        				</div>
        				<div class="widget-content">
							<%= form_for(Fitorder.new) do |f| %>
								<%= render 'shared/error_messages', object: f.object %>
									<div class="control-group">
	              						<%= f.label :group_number, "团号:" %>
	              						<div class="controls">
	                							<%= f.text_field :group_number, placeholder: "请输入团号。。", class: "span11" %>
	              						</div>
	            					</div>

	            					<div class="control-group">
	              						<%= f.label :outdate, "出发日期" %>
	              						<div class="controlsq">
	              							<div class="input-append date datepicker">
	                							<%= f.date_field :outdate %>
	                						</div>
	              						</div>

	              						<%= f.label :returndate, "地接日期" %>
	              						<div class="controls">
	              							<div class="input-append date datepicker">
	                							<%= f.date_field :returndate %>
	                						</div>
	              						</div>
	            					</div>
									<div class="control-group">
	              						<%= f.label :bookinfo, "订购方"  %>
	              						<div class="controls">
	                							<%= f.text_field :bookinfo, placeholder: "请输入订购方名称。。", class: "span11" %>
	              						</div>
	            					</div>

	            					<div class="control-group">
	              						<%= f.label :info, "出团通知" %>
	              						<div class="controls">
	                							<%= f.text_field :info, placeholder: "请输入出团通知。。" , class: "span11" %>
	              						</div>
	            					</div>

	            					<div class="control-group">
	              						<%= f.label :persons_list, "客人名单|人数" %>
	              						<div class="controls">
	                							<%= f.text_field :persons_list, placeholder: "请输入客人名单和人数。。", class: "span11" %>
	              						</div>
	            					</div>

	            					<div class="control-group">
	              						<%= f.label :comeinfo, "接" %>
	              						<div class="controls span6">
	                							<%= f.select(:comeinfo_way, [['飞机', '飞机'], ['火车', '火车'], ['汽车', '汽车'], ['轮船', '轮船'], ['其它', '其它']]) %>
	              						</div>
	              						<div class="controls">
	              								<%= f.text_field :comeinfo, placeholder: "出发城市-到达城市。。。" %>
	              						</div>
	            					</div>

	            					<div class="control-group">
	              						<%= f.label :goinfo, "接" %>
	              						<div class="controls span6">
	                							<%= f.select(:goinfo_way, [['飞机', '飞机'], ['火车', '火车'], ['汽车', '汽车'], ['轮船', '轮船'], ['其它', '其它']]) %>
	              						</div>
	              						<div class="controls">
	              								<%= f.text_field :goinfo, placeholder: "出发城市-到达城市。。。" %>
	              						</div>
	            					</div>

	            					<div class="control-group">
	              						<%= f.label :price1, "合同价|结算价|西藏报价|结算价" %>
	              						<div class="controls">
	                							<%= f.number_field(:price1, in: 0.0..1000000.0, step: 1.0 ) %>
												<span class="add-on">RMB</span>	                							
	              						</div>
	              						<div class="controls">
	                							<%= f.number_field(:price2, in: 0.0..1000000.0, step: 1.0 ) %>
												<span class="add-on">RMB</span>	                							
	              						</div>
	              						<div class="controls">
	                							<%= f.number_field(:price3, in: 0.0..1000000.0, step: 1.0 ) %>
												<span class="add-on">RMB</span>	                							
	              						</div>
	              						<div class="controls">
	                							<%= f.number_field(:price4, in: 0.0..1000000.0, step: 1.0 ) %>
												<span class="add-on">RMB</span>	                							
	              						</div>
	            					</div>

	            					<div class="control-group">
	              						<%= f.label :customers_info, "客人信息" %>
	              						<div class="controls">
	                							<%= f.text_field :customers_info, placeholder: "请输入客人信息。。", class: "span11" %>
	              						</div>
	            					</div>

	            					<div class="control-group">
	              						<%= f.label :tip, "备注" %>
	              						<div class="controls">
	                							<%= f.text_field :tip, placeholder: "备注。。", class: "span11" %>
	              						</div>
	            					</div>

	            					<div class="control-group">
	              						<%= f.label :current_collction, "当前已收款" %>
	              						<div class="controls">
	                							<%= f.number_field(:current_collction, in: 0.0..1000000.0, step: 1.0 ) %>
												<span class="add-on">RMB</span>
	              						</div>
	            					</div>

	            					<div class="control-group">
	              						<%= f.label :status, "状态" %>
	              						<div class="controls span6">
	                							<%= f.select(:status, [['未确认', '未确认'], ['确认', '确认' ]]) %>
	              						</div>
	            					</div>

									<div class="control-group">
	              						<%= f.submit "保存", data: { confirm: "确定？" }, class: "btn btn-large btn-primary" %>
										<%= link_to "退出", fitorders_path, class: "btn btn-large btn-primary" %>
	            					</div>	            					

        					<% end %>
        				</div>
	  	  			</div>
	  	  		</div>
  	  </div>
  </div>
</div>