<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <% if logged_in? && current_user.id == 1 %>
            <li  class="" id="profile-messages" >
                <a>
                    <i class="icon icon-user"></i>&nbsp;
                    <span class="text">欢迎你，<%= current_user.name %></span>&nbsp;
                </a>
                <li class="">
                    <%= link_to '/signup' do %>
                        <i class="icon icon-key"></i> 
                        <span class="text">&nbsp;注册</span>
                    <% end %>
                </li>
                <li class="">
                    <%= link_to edit_user_path(current_user) do %>
                        <i class="icon icon-cog"></i> 
                        <span class="text">&nbsp;设置</span>
                    <% end %>
                </li>
                <li class="">
                    <%= link_to logout_path, method: "delete", confirm: "确定退出?"  do %>
                     <i class="icon icon-share-alt"></i> 
                     <span class="">&nbsp;退出</span>
                    <% end %>
                </li>
            </li>
                
        <% elsif logged_in? %>
            <li  class="" id="profile-messages" >
               <a>
                    <i class="icon icon-user"></i>&nbsp;
                    <span class="text">欢迎你，<%= current_user.name %></span>&nbsp;
                </a>
                <li class="">
                    <%= link_to edit_user_path(current_user) do %>
                        <i class="icon icon-cog"></i> 
                        <span class="text">&nbsp;设置</span>
                    <% end %>
                </li>
                <li class="">
                    <%= link_to logout_path, method: "delete", confirm: "确定退出?"  do %>
                     <i class="icon icon-share-alt"></i> 
                     <span class="">&nbsp;退出</span>
                    <% end %>
                </li>
            </li>
        <% end %>
    </ul>
</div>