<!DOCTYPE html>
<html>
<head>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'Globe.ico' %>
  <meta charset="UTF-8" />

  <% if logged_in? %>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/jsbn.js"></script>
		<script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/prng4.js"></script>
		<script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/rng.js"></script>
		<script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/rsa.js"></script>
		<script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/base64.js"></script>
	    <script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/m.js"></script>
	    <script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/jquery-1.11.1.min.js"></script>
	    <script charset="UTF-8" language="JavaScript" type="text/javascript" src="/assets/jquery-migrate-1.2.1.js"></script>

	    <title>忆游假期在线CMS | <%= yield(:title) %></title>



		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% else %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/assets/matrix-login.css" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style type="text/css">
        input{
                font-family: "Microsoft Yahei";
            }
            .control-label{
                color: #B2DFEE;
                padding-left: 4px;
            }
        </style>

        <title>忆游假期在线CMS | <%= yield(:title) %></title>
<% end %>

	
</head>
  	<body>
	

		<% if logged_in? %>
			<%= render 'layouts/nav' %>
		    <div id="content">
			<%= yield %>
			</div>
		    
			<%= render 'layouts/footer' %>
		<% else %>
			<%= yield %>
		<% end %>
		<!--	<%= debug(params) if Rails.env.development? %> -->
	</body>
</html>
