<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'Globe.ico' %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8" />

  <% if logged_in? %>
  	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	  <title>忆游假期在线CMS | <%= yield(:title) %></title>
	    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->   	
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		
		<link rel="stylesheet" href="/assets/style2.css">

<% else %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/bootstrap-login.min.css" />
    <link rel="stylesheet" href="/assets/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/assets/matrix-login.css" />
    <link href="/assets/font-awesome.min.css" rel="stylesheet" />
    <style type="text/css">
        input{
                font-family: "Microsoft Yahei";
            }
            .control-label{
                color: #B2DFEE;
                padding-left: 4px;
            }
        </style>

        <title>忆游假期在线CMS | 登录 </title>

        <%= favicon_link_tag 'Globe.ico' %>
<% end %>

	
</head>
  	<body>
		<% if logged_in? %>
			<body class="hold-transition skin-blue sidebar-mini">
				<div class="wrapper">
					<%= render 'layouts/header' %>
					<%= render 'layouts/sidebar' %>
				    <div class="content-wrapper">
				    	<!-- Content Header -->
				        <section class="content-header">
						          <h1>
						            主页
						            <small>控制面板</small>
						          </h1>
						          <ol class="breadcrumb">
						            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
						            <li class="active">主页</li>
						          </ol>
						</section>
						<!-- Main Content -->
						<section class="content">
						          <%= yield %>
						</section>
	      			</div>
			    
					<%= render 'layouts/footer' %>
			</div>
		<% else %>
			<body>
				<%= yield %>
		<% end %>
		<!--	<%= debug(params) if Rails.env.development? %> -->
		<!-- base js -->
			<script src="/assets/jQuery-2.1.4.min.js"></script>
		    <script src="/assets/jquery-ui.min.js"></script>
		    <script>
		      $.widget.bridge('uibutton', $.ui.button);
		    </script>
		    <script src="/assets/bootstrap.min.js"></script>
		    <script src="/assets/raphael-min.js"></script>
		    <script src="/assets/morris.min.js"></script>
		    <script src="/assets/jquery.sparkline.min.js"></script>
		    <script src="/assets/jquery-jvectormap-1.2.2.min.js"></script>
		    <script src="/assets/jquery-jvectormap-world-mill-en.js"></script>
		    <script src="/assets/jquery.knob.js"></script>
		    <script src="/assets/moment.min.js"></script>
		    <script src="/assets/daterangepicker.js"></script>
		    <script src="/assets/bootstrap-datepicker.js"></script>
		    <script src="/assets/jquery.slimscroll.min.js"></script>
		    <script src="/assets/fastclick.min.js"></script>
			<script src="/assets/app.min.js"></script>
		   	<script src="/assets/select2.js"></script>
		<!-- datatable related js -->   
		    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</body>
</html>
